
	html{
	scroll-behavior: smooth;
}

.naslov {
	font-family: Cambria, "Hoefler Text", "Liberation Serif", Times, "Times New Roman", serif;
	font-style: oblique;
	text-align: center;
	background-image: url("images/mosus.jpg");
	background-repeat: no-repeat;
	background-position: center;
	margin: 2;
	width: auto;
	height:600px;
	border-radius: 10px;
	font-variant: small-caps;
	text-indent: 4px;
	font-size: x-large;
	line-height: 8;
	color: #F6EEEE;
	text-shadow: 1px 1px #010101;
}
.nav{

	
	padding: 30px;

	
}
ul{
	text-align: center;
	margin: 10px;
	padding: 10px;

  
}
li{
	display: inline-block;
	padding: 15px 30px;
	background-color: blueviolet;
	

	}
a{
	
	color: black;
	text-decoration:none ;
	font-family: 'Open Sans', sans-serif;
	font-size: 1.2vw;
}
a:hover{
		color: darkred;
		transition: 0.5s;
}
img{
		width: auto;
		height: auto;
		display: block;
		margin-left: auto;
		margin-right: auto;
		border-radius: 10px;

}
.body{
			display: grid;
			background-color:#edfaf6;		
	
	}
	
	
h2{
			text-align: center;
			background-color: ghostwhite;
			font-family: Cambria, "Hoefler Text", "Liberation Serif", Times, "Times New Roman", serif;
			max-width: 10%;
			margin-left: auto;
			margin-right: auto;
			border-radius: 20px;
	}
.p1{
	 line-height: 1.5;
  display: block;
  
	text-align: center;
	max-width: 600px;
	height: auto;
	padding: 2;
	margin: 2;
	margin-left: auto;
	margin-right: auto;
	font-size: 1.5vw;
	font-family: Cambria, "Hoefler Text", "Liberation Serif", Times, "Times New Roman", serif;
	background-color: ghostwhite;
	border-radius: 30px;
	margin-bottom: 200px;
	

	
	}
.ps{
		display: block;
		margin-left: auto;
		margin-right: auto;
		border-radius: 10px;
		text-align: center;

	}
.mapa{
					text-align: center;
					align-content: center;


					display:block;
					margin-left: 100;
					
					border:auto ;
	}
p1{
		text-align: center;
		margin-left: auto;

		margin-right: auto;
		display: block;
		font-family: Cambria, "Hoefler Text", "Liberation Serif", Times, "Times New Roman", serif;
	}
.kontakt{	
			display: block;
			margin-left: auto;
			margin-right: auto;
			text-align: center;
			width: 500px;
			height: 100px;

	}
.kontakt::hover{
		color: darkred;
		transition: 0.5s;}
.footer{
		font-size: 25px;
		text-align: center;
	}

	@media only screen and (max-width:700px){
		
		.naslov{
			max-width: 700px;
			height: auto;
			font-size: medium;
			background-image:url("images/mosus.mobile.jpg");
		}
		.p1 {
			font-size: medium;
		}
		li{
			padding: 10px 20px;
		}
		a {
			font-size: medium;
		}
		h2{
			
			
			margin-left: auto;
			margin-right: auto;
			font-size: large;
			background-color:#edfaf6;
			border-radius: 5px;
		}

	}
	
